.user-profile {
  margin: 1rem 0;
  padding: 0.8rem 0.5rem;
  margin: 1rem;
  background-color: #2a2640;
  border-radius: 5px;
  color: #f5f5f5;
}
.user-profile .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.user-profile .user-card h4 {
  margin: 0.5rem 0 0;
}
.user-profile .user-card img {
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 45px -11px rgb(66, 68, 90);
  -moz-box-shadow: 0px 0px 45px -11px rgb(66, 68, 90);
  box-shadow: 0px 0px 45px -11px rgb(66, 68, 90);
}
.user-profile .friends-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-top: 1px solid;
  padding-top: 1rem;
  text-align: center;
}
.user-profile .friends-actions i {
  font-size: 1.4rem;
}

.main-party .user-party,
.main-party .popular-party {
  padding: 0.75rem;
  background-color: #1f1d39;
}

.main-party .row {
  scrollbar-color: #1f1d39 #1f1d39;
}

.parties {
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 16px 1px #0b0c10;
  -moz-box-shadow: inset 0px 0px 16px 1px #0b0c10;
  box-shadow: inset 0px 0px 16px 1px #0b0c10;
}
.parties .row {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}
.parties .party {
  flex: 0 0 15rem;
  padding: 0.8rem;
}
.parties .party img {
  width: 100%;
  border-radius: 5px;
}
.parties .party h4 {
  text-align: center;
}
.parties .party .desc {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  color: #f5f5f5;
  font-size: 1.2rem;
}
.parties .party .desc p {
  font-size: 1rem;
  color: #a1a1b5;
}

.user-party {
  margin: 1rem 0;
}

@media (min-width: 819px) {
  .layout {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  .user-profile {
    margin: 2rem;
  }
  .main-party {
    margin: 0 2rem;
  }
}
#map {
  height: 400px;
  border-radius: 15px;
  margin: 2rem 0 1rem;
}

.map-parties .row {
  padding: 0 0 1rem;
  scrollbar-color: #1f1d39 #0b0c10;
}
.map-parties .row h2 {
  margin-bottom: 0;
}
.map-parties .party:nth-of-type(1) {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

@media (min-width: 1250px) {
  #map {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  .layout.map {
    width: 100%;
  }
  .map-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .map-wrapper .navbar,
  .map-wrapper .navbar.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000000;
  }
  .map-parties {
    width: 30rem;
    padding: 1rem;
    height: 100vh;
    overflow: scroll;
    text-align: center;
    background-color: #2a2640;
    scrollbar-color: #1f1d39 #1f1d39;
  }
  .map-parties .row {
    display: block;
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #0b0c10;
}

section h4,
section h2 {
  color: #a1a1b5;
  text-transform: uppercase;
}

h2 {
  padding: 1rem;
}

.layout {
  max-width: 2000px;
}

.navbar {
  width: 15rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #1a1b2e;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 0 0 15px 15px;
}
.navbar .main-header {
  padding: 0;
  font-size: 2rem;
  color: #ffea00;
  text-shadow: 0 0 2px #ffea00, 0 0 5px #ffea00, 0 0 10px #ffea00, 0 0 20px #ffd900, 0 0 40px #ffd900;
}

.navbar.nav {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  padding: 0.5rem;
  border-radius: 15px 15px 0 0;
  transition: 0.3s;
}
.navbar.nav a {
  color: #ffd900;
  font-size: 1.8rem;
  margin: 1rem;
  transition: color 0.4s ease, text-shadow 0.4s ease;
}
.navbar.nav a:hover {
  color: #ffea00;
  text-shadow: 0 0 1px #ffea00, 0 0 1px #ffea00, 0 0 2px #ffea00, 0 0 5px #ffd900, 0 0 10px #ffd900;
}

.navbar.nav.scroll {
  bottom: -10%;
}

/*# sourceMappingURL=base.css.map */
