@use "variables.scss";
@use "main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0 1rem 1rem 1rem;
  background-color: variables.$bg-main;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  color: variables.$cta-yellow-hover;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #2a264099;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 0 0 15px 15px;
}

.navbar-under {
  position: static;
  opacity: 0;
}

.main-header {
  font-size: 2rem;
  text-shadow: 0 0 2px variables.$cta-yellow-hover,
    0 0 5px variables.$cta-yellow-hover, 0 0 10px variables.$cta-yellow-hover,
    0 0 20px variables.$cta-yellow, 0 0 40px variables.$cta-yellow;
}

.navbar.nav {
  bottom: 0;

  padding: 1rem;
  border-radius: 15px 15px 0 0;

  a {
    color: variables.$cta-yellow;
    font-size: 1.8rem;
    transition: color 0.4s ease, text-shadow 0.4s ease;
  }

  a:hover {
    color: #ffea00;
    text-shadow: 0 0 1px variables.$cta-yellow-hover,
      0 0 1px variables.$cta-yellow-hover, 0 0 2px variables.$cta-yellow-hover,
      0 0 5px variables.$cta-yellow, 0 0 10px variables.$cta-yellow;
  }
}
