@use "./main";
@use "./map";
@use "./variables" as v;
@use "./mixins" as m;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: v.$bg-main;
}
section h4,
section h2 {
  @include m.header;
}

h2 {
  padding: 1rem;
}
.layout {
  max-width: 2000px;
}

.navbar {
  width: 15rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: v.$bg-card;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 0 0 15px 15px;
  z-index: 99999999;

  .main-header {
    padding: 0;
    font-size: 2rem;
    color: v.$cta-yellow-hover;
    text-shadow: 0 0 2px v.$cta-yellow-hover, 0 0 5px v.$cta-yellow-hover,
      0 0 10px v.$cta-yellow-hover, 0 0 20px v.$cta-yellow,
      0 0 40px v.$cta-yellow;
  }
}

.navbar.nav {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  padding: 0.5rem;
  border-radius: 15px 15px 0 0;
  transition: 0.3s;

  a {
    color: v.$cta-yellow;
    font-size: 1.8rem;
    margin: 1rem;
    transition: color 0.4s ease, text-shadow 0.4s ease;
  }

  a:hover {
    color: #ffea00;
    text-shadow: 0 0 1px v.$cta-yellow-hover, 0 0 1px v.$cta-yellow-hover,
      0 0 2px v.$cta-yellow-hover, 0 0 5px v.$cta-yellow, 0 0 10px v.$cta-yellow;
  }
}

.navbar.nav.scroll {
  bottom: -10%;
}
