{% extends "base.html" %}
{% load static %}

{% block head %}
    <script type="module" src={% static "js/register.js" %}></script>
{% endblock  %}


{% block content %}

    <div class="confirm_wrapper">
        <h2>Resent your confirmation</h2>
        <p>Chceck your email - maybe it is wrong ❌❌</p>
        <form action=""></form>
        <a href="http://{{domain}}{% url "activate_email" uidb64=uid token=token %}"></a>
        <p>Stay tune and safe 🎶🦸‍♂️</p>
    </div>
</body>
   
{% endblock  %}

