{% extends "base.html" %}
{% load static %}


{% block head %}
    <script type=module src={% static "js/main.js" %}></script>
{% endblock  %}

{% block content %} 

    <section class="user-profile">
        
        <div class="user-card">
        
            <div class="user-img">
                <img src="{{request.user.avatar.url}}" alt="{{request.user.username}}'s profile image">
            </div>

            <div  iv class="user-info">
                <div class="position">
                    <h4>Name:</h4>
                    <p>Nicolas</p>
                </div>
                <div class="position">
                    <h4>Surname:</h4>
                    <p>Cage</p>
                </div>
            </div>
            <div class="user-info">
                <div class="position">
                    <h4>Nick:</h4>
                    <p>{{request.user.username}}</p>
                </div>
                <div class="position">
                    <h4>Age:</h4>
                    <p></p>
                </div>
            </div>

            <div class="friends-actions">
                <div class="acction">
                    <a href={% url "buddies" %} class="link"></a>
                    <i class="fas fa-user-friends"></i>
                    <h4>Buddies</h4>
                </div>
                
                <div class="acction">
                     <a href="" class="link"></a>
                    <i class="fas fa-users"></i>
                    <h4>Groups</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="main-party">
        <div class="popular-party">
            <div class="parties">
                <h2>Trending:</h2>
                {% include "includes/parties.html" %}
            </div>
        </div>
        <div class="user-party">
            <div class="parties">
                <h2>Trending:</h2>
                {% include "includes/parties.html" %}
            </div>
        </div>
    </section>



{% endblock %}
