{% extends "base.html" %}
{% load static %}



{% block content %} 

<section class="user-profile">
    
    <div class="user-card">
    
        <div class="user-img">
            <img src="" alt="User profile image">
        </div>

        <div class="user-info">
            <div class="position">
                <h4>Name:</h4>
                <p>Nicolas</p>
            </div>
            <div class="position">
                <h4>Second name:</h4>
                <p>Cage</p>
            </div>
            <div class="position">
                <h4>Nick:</h4>
                <p>Myster R</p>
            </div>
            <div class="position">
                <h4>Email:</h4>
                <p>Nicolas@gmail.com</p>
            </div>
        </div>

    </div>
</section>

{% endblock %}
