{% load static %}
<div class="row">
  {% for party in parties %}
  <div class="party">
    <div class="img-hero">
      <img src="{{party.file.url}}" alt="{{party.party_title}}" />
    </div>
    <h4>{{party.party_title}}</h4>
    <div class="desc">
      <div class="el">
        <i class="fas fa-wine-glass-alt"></i>
        <p>{{party.alco}}</p>
      </div>
      <div class="el">
        <i class="far fa-id-card"></i>
        <p>{{party.age}}+</p>
      </div>
      <div class="el">
        <i class="fas fa-users"></i>
        <p>>{{party.people_number}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
